
main {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 20rem; 
}
h2 {
    font-family: 'Georgia', serif;
    color: #000080;
    text-align: center;
}
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e6f7ff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="number"],
input[type="text"]
 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
}
input[type="button"] {
    background-color: #0073e6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
input[type="button"]:hover {
    background-color: #005bb5;
}


@media screen and (min-width: 640px){
    header {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	}
	
	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; 
	}
    main { 
        max-width: 64rem;
        margin:auto;
    }

}