body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f8f8f8;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}