@media screen and (min-width: 640px){
main {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

h2{
    text-align: left;
    position: relative;
    right: 20px; 
    background-color: blue;
    color: white;
    padding: 15px; 
}

section {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    align-items: center;
}
    
.data {
    position: absolute;
    left: 50px;
    margin-top: 60px;
}


.weather {
    position: absolute;
    right: 50px;
    bottom: 60px;
}
.weather img{
    display: none;
}

.weather h2::after {
    content: '⛅';
    
}


}



