main {
    padding: 0 2%;
    min-height: 20rem;
}

header, footer {
    background-color: blue; 
    color: #ffffff;
    padding: 10px;
    text-align: center;
}


body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.container {
    margin-top: 60px;
    max-width: 100%;
    background-color: #eaf4ff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

}


@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }
}