
@media screen and (min-width: 640px){
    header {
		display: flex;
		align-items: center;
	justify-content: space-between;
	}
	
	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
    nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    #menu {
		display: none; 
	}
}